.jry_wb_blog_one_body {margin: 5px 0px 30px; background-color: rgb(204, 204, 204); overflow: hidden;}
.jry_wb_blog_one_body .jry_wb_blog_one_id{min-width:200px;}
.jry_wb_blog_one_body .jry_wb_blog_one_time{padding: 5px; min-width: 300px;}
.jry_wb_blog_one_body .jry_wb_blog_one_title{width:300px}