.jry_wb_manage_bigdeal						{width:100%;border-right:1px solid #000;border-bottom:1px solid #000;}
.jry_wb_manage_bigdeal td					{border-left:1px solid #000;border-top:1px solid #000;text-align:center;}
.jry_wb_manage_bigdeal .name				{font-size:30px;color:#33F;text-align:center;width:35%;}
.jry_wb_manage_bigdeal .time				{font-size:30px;color:#33F;text-align:center;width:35%;}
.jry_wb_manage_bigdeal .option				{font-size:30px;color:#33F;text-align:center;width:310px;}
.jry_wb_manage_bigdeal .name_v				{font-size:30px;color:#33F;width:100%;}
.jry_wb_manage_bigdeal .time_v				{font-size:30px;color:#33F;width:100%;}
