::-webkit-scrollbar
{
  width: 10px;
  height:7px;
}
::-webkit-scrollbar-corner
{
  background-color: transparent;
}
::-webkit-scrollbar-thumb 
{
  height: 6px;
  border-radius: 7px;
  border: 4px solid transparent;
  background-color:#6F6;
}
