.jry_wb_manage_tanmu						{width:100%;border-right:1px solid #000;border-bottom:1px solid #000;}
.jry_wb_manage_tanmu td						{border-left:1px solid #000;border-top:1px solid #000;text-align:center;}
.jry_wb_manage_tanmu .word					{font-size:30px;color:#33F;text-align:center;width:80%;}
.jry_wb_manage_tanmu .option				{font-size:30px;color:#33F;text-align:center;width:310px;}
.jry_wb_manage_tanmu .word_v				{font-size:30px;color:#33F;width:100%;}
