.jry_wb_online_judge_all												{border-spacing: 0px;overflow:hidden;}
.jry_wb_online_judge_all .all_left_div									{width:61%;overflow-y:hidden;overflow-x:hidden;float:left;}
.jry_wb_online_judge_all .all_left_div .one_body						{margin:5px 0px 30px 0px;background-color:#EEEEEE;overflow:hidden;}
.jry_wb_online_judge_all .all_left_div .one_body .one_id				{font-size:30px;color:#33F;width:200px; border-radius:10px; padding:5px 5px 5px 5px;float:left;margin-top:5px;}
.jry_wb_online_judge_all .all_left_div .one_body .one_id:link			{color:#33F;}
.jry_wb_online_judge_all .all_left_div .one_body .one_id:visited		{color:#33F;}
.jry_wb_online_judge_all .all_left_div .one_body .one_id:hover			{color:#33F;}
.jry_wb_online_judge_all .all_left_div .one_body .one_id:active			{color:#33F;}
.jry_wb_online_judge_all .all_left_div .one_body .one_question			{font-size:30px;color:#33F;padding:5px 5px 5px 5px;width:300px;float:left;margin-top:5px;} 
.jry_wb_online_judge_all .all_left_div .one_body .one_question:link		{color:#33F;}
.jry_wb_online_judge_all .all_left_div .one_body .one_question:visited	{color:#33F;}
.jry_wb_online_judge_all .all_left_div .one_body .one_question:hover	{color:#33F;}
.jry_wb_online_judge_all .all_left_div .one_body .one_question:active	{color:#33F;}
.jry_wb_online_judge_all .all_left_div .one_body .one_ans				{font-size:30px;color:#33F;float:left;width:200px;margin-top: 5px;}
.jry_wb_online_judge_all .all_left_div .one_body .one_class				{color:#ff0000;background:#ffff00;margin-right:20px;padding:2px 5px 2px 5px;width:16px;float:left;margin-top:20px;}
.jry_wb_online_judge_all .all_left_div .one_body .one_type				{color:#ff0000;background:#ffff00;float:left;margin-top: 20px; width:60px; text-align:center;}
.jry_wb_online_judge_all .all_left_div .one_body .one_time				{padding:5px 5px 5px 5px; min-width:300px;float:right;}
.jry_wb_online_judge_all .all_left_div .one_body .right_calendar		{color:#23dd07;}
.jry_wb_online_judge_all .all_left_div .one_body .normal				{color:#33F;}
.jry_wb_online_judge_all .all_left_div .one_body .right					{color:#23dd07;}
.jry_wb_online_judge_all .all_left_div .one_body .error					{color:#ff0000;}
.jry_wb_online_judge_all .all_left_div .one_body .nottry				{color:#ddcc00;}


.jry_wb_online_judge_all .all_right_div									{width:39%;overflow-y:hidden;overflow-x:hidden;float:left;transition-duration: 1s;}
.jry_wb_online_judge_all .all_right_div .type							{margin:0px;padding-left: 35px;}
.jry_wb_online_judge_all .all_right_div .type .w						{font-size:30px;color:#33F;}
.jry_wb_online_judge_all .all_right_div .type .c						{padding-left:35px;}
.jry_wb_online_judge_all .all_right_div .type .c .all					{}
.jry_wb_online_judge_all .all_right_div .type .c .all 		input		{font-size:30px;}
.jry_wb_online_judge_all .all_right_div .type .c .all 		span		{font-size:30px;color:#33F;}
.jry_wb_online_judge_all .all_right_div .type .c .check					{}
.jry_wb_online_judge_all .all_right_div .type .c .check 	input		{font-size:30px;}
.jry_wb_online_judge_all .all_right_div .type .c .check 	span		{font-size:30px;color:#33F;}
.jry_wb_online_judge_all .all_right_div .type .c .word					{}
.jry_wb_online_judge_all .all_right_div .type .c .word 	input		{font-size:30px;}
.jry_wb_online_judge_all .all_right_div .type .c .word 	span		{font-size:30px;color:#33F;}
.jry_wb_online_judge_all .all_right_div .type .c .blank					{}
.jry_wb_online_judge_all .all_right_div .type .c .blank 	input		{font-size:30px;}
.jry_wb_online_judge_all .all_right_div .type .c .blank 	span		{font-size:30px;color:#33F;}
.jry_wb_online_judge_all .all_right_div .type .c .compile				{}
.jry_wb_online_judge_all .all_right_div .type .c .compile 	input		{font-size:30px;}
.jry_wb_online_judge_all .all_right_div .type .c .compile 	span		{font-size:30px;color:#33F;}
.jry_wb_online_judge_all .all_right_div .status							{margin:0px;padding-left: 35px;}
.jry_wb_online_judge_all .all_right_div .status .w						{font-size:30px;color:#33F;}
.jry_wb_online_judge_all .all_right_div .status .c						{padding-left:35px;}
.jry_wb_online_judge_all .all_right_div .status .c .normal				{}
.jry_wb_online_judge_all .all_right_div .status .c .normal input		{font-size:30px;}
.jry_wb_online_judge_all .all_right_div .status .c .normal span		{font-size:30px;color:#33F;}
.jry_wb_online_judge_all .all_right_div .status .c .right				{}
.jry_wb_online_judge_all .all_right_div .status .c .right 	input		{}
.jry_wb_online_judge_all .all_right_div .status .c .right 	span		{font-size:30px;color:#23dd07;}
.jry_wb_online_judge_all .all_right_div .status .c .error				{}
.jry_wb_online_judge_all .all_right_div .status .c .error 	input		{font-size:30px;}
.jry_wb_online_judge_all .all_right_div .status .c .error 	span		{font-size:30px;color:#ff0000;}
.jry_wb_online_judge_all .all_right_div .status .c .nottry				{}
.jry_wb_online_judge_all .all_right_div .status .c .nottry input		{font-size:30px;}
.jry_wb_online_judge_all .all_right_div .status .c .nottry span		{font-size:30px;color:#ddcc00;}

.jry_wb_online_judge_all .all_right_div .question_id					{margin:0px;padding-left: 35px;}
.jry_wb_online_judge_all .all_right_div .question_id span				{font-size:30px;color:#33F;}
.jry_wb_online_judge_all .all_right_div .question_id input				{font-size:30px;color:#33F;width:200px;}
.jry_wb_online_judge_all .all_right_div .user							{margin:0px;padding-left: 35px;}
.jry_wb_online_judge_all .all_right_div .user span						{font-size:30px;color:#33F;}
.jry_wb_online_judge_all .all_right_div .user input					{font-size:30px;color:#33F;width:200px;}
.jry_wb_online_judge_all .all_right_div .class							{margin:0px;padding-left: 35px;}
.jry_wb_online_judge_all .all_right_div .class .w						{font-size:30px;color:#33F;}
.jry_wb_online_judge_all .all_right_div .class .v						{font-size:16px;color:#000;}

