.rotating
{
	transition: All 0.4s ease-in-out;
	-webkit-transition: All 0.4s ease-in-out;
	-moz-transition: All 0.4s ease-in-out;
	-o-transition: All 0.4s ease-in-out;
}
.rotating:hover 
{
	transform: rotate(357deg);
	-webkit-transform: rotate(357deg);
	-moz-transform: rotate(357deg);
	-o-transform: rotate(357deg);
	-ms-transform: rotate(357deg);
}
@-webkit-keyframes rotation
{
	from 
	{
		-webkit-transform: rotate(0deg);
	}
	to
	{
		-webkit-transform: rotate(360deg);
	}
}
.rotation 
{
	-webkit-transform: rotate(360deg);
	animation: rotation 2s linear infinite;
	-moz-animation: rotation 2s linear infinite;
	-webkit-animation: rotation 2s linear infinite;
	-o-animation: rotation 2s linear infinite;
}
.slope_20
{
	/* Rotate div */
	transform:rotate(-20deg);
	-ms-transform:rotate(-20deg); /* Internet Explorer */
	-moz-transform:rotate(-20deg); /* Firefox */
	-webkit-transform:rotate(-20deg); /* Safari 和 Chrome */
	-o-transform:rotate(-20deg); /* Opera */
}
.slope_45
{
	/* Rotate div */
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); /* Internet Explorer */
	-moz-transform:rotate(-45deg); /* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); /* Opera */
}
.slope_20,.slope_45:hover
{
	/* Rotate div */
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* Internet Explorer */
	-moz-transform:rotate(0deg); /* Firefox */
	-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
	-o-transform:rotate(0deg); /* Opera */
}