.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 0px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: *;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px 10px;
    position:fixed;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility:visible;
}

