.left_main{border-spacing: 0px;}
.left_main .left
{
	width:200px;overflow-y:scroll;overflow-x:hidden;
}
.left_main .left .leftlist_1
{
	background-color:#92E80C;font-size:30px;color:#00F;
}
.left_main .left .leftlist_2
{
	background-color:#FF0;font-size:30px;color:#00F;
}
.left_main .left .leftlist_default
{
	background-color:#490CE8;font-size:30px;color:#f2f2f2;
}