.jry_wb_beautiful_alert
{
	float:right;
	position:fixed;
	top:0px;
	right:10px;
	width:20%;
	width:auto;
	min-width:300px;
	max-width:500px;
	z-index:10000;	
}
.jry_wb_beautiful_alert_one
{
	width:auto;
	border-radius: 10px;
	padding: 5px 5px;
	margin:10px 0px;
}