.jry_wb_mouth_spacial_fact{position:absolute;background:blue;font-size:0;overflow:hidden;width:2px;height:2px;z-index:10000;}
.jry_wb_mouth_spacial_fact_onclick{position:absolute;background:#ff0000;font-size:0;overflow:hidden;width:4px;height:4px;z-index:10000;}
