.jry_wb_chat_body
{
	
}
.jry_wb_chat_body .jry_wb_chat_left
{
	width:20%;
	height:100%;
	float:left;
    overflow-x:hidden;	
}
.jry_wb_chat_body .jry_wb_chat_left .jry_wb_chat_top
{
	position:relative;
    background: #ccc;	
}
.jry_wb_chat_body .jry_wb_chat_left .jry_wb_chat_top .input
{
	width:0px;
	font-size:20px;
}
.jry_wb_chat_body .jry_wb_chat_left .jry_wb_chat_top .button
{
	font-size:20px;
	width:20px;
	height:20px;
	color:#000;
}
.jry_wb_chat_body .jry_wb_chat_left .jry_wb_chat_top .result
{
    transition-duration: 0.5s;
    overflow-y: hidden;
	
}
.jry_wb_chat_body .jry_wb_chat_left .jry_wb_chat_one
{
	position:relative;
	
}
.jry_wb_chat_body .jry_wb_chat_left .active
{
	background:#666a;
}
.jry_wb_chat_body .jry_wb_chat_left .jry_wb_chat_one .jry_wb_chat_head
{
	top:0px;
	left:0px;
	width:70px;
	font-size:28px;
	border-radius:35px;	
}
.jry_wb_chat_body .jry_wb_chat_left .jry_wb_chat_one .jry_wb_chat_name
{
	position:absolute;
	top:0px;
	left:70px;
	font-size:28px;
	height:28px;
	line-height:28px;	
	overflow:hidden;
}
.jry_wb_chat_body .jry_wb_chat_left .jry_wb_chat_one .jry_wb_chat_lastsay
{
	position:absolute;
	top:50px;
	height:20px;
	line-height:20px;
	padding:0px;
	margin:0px;
	left:70px;
	font-size:20px;	
	overflow:hidden;
    display: inline-block;
    *display:inline;
    *zoom:1;
    overflow:hidden;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    white-space:nowrap;	
	word-break: break-all;
}
.jry_wb_chat_body .jry_wb_chat_right
{
	width:80%;
	height:100%;	
	float:left;
}
.jry_wb_chat_body .jry_wb_chat_right .jry_wb_chat_top
{
    color: #000;
    background: #666;	
	font-size:25px;	
}
.jry_wb_chat_body .jry_wb_chat_right .jry_wb_chat_top .jry_wb_chat_name
{
	font-size:25px;
}
.jry_wb_chat_body .jry_wb_chat_right .jry_wb_chat_set
{
	font-size:25px;
	
}
.jry_wb_chat_body .jry_wb_chat_right .jry_wb_chat_one
{
	clear:both;
	position:relative;
	height:50px;
	padding-bottom:20px;
}
.jry_wb_chat_body .jry_wb_chat_right .jry_wb_chat_one .message
{
	position:absolute;
	font-size:24px;
	top:24px;
	left:40px;
	word-break:break-all;	
}
.jry_wb_chat_body .jry_wb_chat_right .jry_wb_chat_one .user
{
	position:absolute;
	height:24px;
}
.jry_wb_chat_body .jry_wb_chat_right .jry_wb_chat_one .user .head
{
	position:absolute;
	width:40px;
}
.jry_wb_chat_body .jry_wb_chat_right .jry_wb_chat_one .user .name
{
	position:absolute;
	left:40px;
	width:160px;
	font-size:16px;
}
.jry_wb_chat_body .jry_wb_chat_right .jry_wb_chat_one .user .time
{
	left:200px;
	width:140px;
	font-size:14px;
	position:absolute;
	
}
.jry_wb_chat_body .jry_wb_chat_right .jry_wb_chat_input_area
{
	height:150px;
	position:relative;
}
.jry_wb_chat_body .jry_wb_chat_right .jry_wb_chat_input_area .input
{
	height:100%;
	font-size:28px;
	resize: none;  
}
.jry_wb_chat_body .jry_wb_chat_right .jry_wb_chat_input_area .button
{
	font-size:100px;
	position:absolute;
	width:100px;
	height:100px;	
	background:#207fc1;
	color:#d7dcde;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:10px;
	padding-top:10px;
	transition: all 0.1s;
}
.jry_wb_chat_body .jry_wb_chat_right .jry_wb_chat_input_area .button:hover
{
	background:#1a6396;
	
}
.jry_wb_chat_body .jry_wb_chat_right .jry_wb_chat_input_area .word
{
	position:absolute;
	top:120px;
	font-size:20px;
}
