h55 {font-size:30px;color:white;}
.h55 {font-size:30px;color:white;}
h56 {font-size:30px;color:#33F;}
.h56 {font-size:30px;color:#33F;}

.jry_wb_font_buttom{color:#ffffff;margin: 0px 0px 0px 5px;}
.jry_wb_font_big_size{font-size:50px}
.jry_wb_font_normal_size{font-size:30px}
.jry_wb_font_small_size{font-size:20px}