.jry_wb_show_user
{
	border-radius: 10px; 
	padding: 5px; 
	min-width: 200px; 
	margin-top: 5px; 
	color:#33F;
	font-size:30px;
}
.jry_wb_show_user_inline
{
	border-radius: 5px; 
	padding:0px 5px 0px 5px;
	min-width: 200px;
	margin-top: 5px; 
	color:#33F;
	font-size:30px;
}
.jry_wb_show_user_intext
{
	color:#33F;
}
.jry_wb_show_user img,.jry_wb_show_user_inline img
{
	width:22px;height:22px;
}
