.jry_wb_highlight
{
	overflow:hidden;
	
}
.jry_wb_highlight .jry_wb_highlight_tools
{
	background-color:#272822;
	height:32px;
}
.jry_wb_highlight .jry_wb_highlight_tools span
{
	color: #fff;
    font-size:32px;
}	
.jry_wb_highlight .jry_wb_highlight_code
{
	background-color:#272822;
	color:#ffffff;
	font-size:20px;
	white-space:nowrap;
	min-height:40px;
	width:fit-content;
	width:-webkit-fit-content;
	width:-moz-fit-content;
	min-width:100%;
}
.jry_wb_highlight .jry_wb_highlight_code span{display:inline-block;}
.jry_wb_highlight .jry_wb_highlight_code div{display:inline-block;}
.jry_wb_highlight .jry_wb_highlight_code .important{color:#66D9EF;}
.jry_wb_highlight .jry_wb_highlight_code .constant{color:#0080C0;}
.jry_wb_highlight .jry_wb_highlight_code .operator{color:#FF8000;}
.jry_wb_highlight .jry_wb_highlight_code .number{color:#AE81FF;}
.jry_wb_highlight .jry_wb_highlight_code .string{color:#E6DB74;}
.jry_wb_highlight .jry_wb_highlight_code .default{color:#F8F8F2;}
.jry_wb_highlight .jry_wb_highlight_code .comment{color:#75715E;}
.jry_wb_highlight .jry_wb_highlight_code .preprocessor{color:#FF80C0;}
