ul.jry_wb_page_system 
{
    display: inline-block;
    padding: 0;
    margin: 0;
}
ul.jry_wb_page_system li {display: inline;}
ul.jry_wb_page_system li a 
{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.jry_wb_page_system li a.active 
{
    background-color: #4CAF50;
    color: white;
}
ul.jry_wb_page_system li a:hover:not(.active) 
{
	background-color: #ddd;
}
