.jry_wb_button
{
	background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.jry_wb_button_size_big,.jry_wb_button_size_big:focus
{
    padding: 16px 32px;
    font-size: 23px;
    margin: 4px 2px;	
}
.jry_wb_button_size_big:hover
{
	
}
.jry_wb_button_size_middle,.jry_wb_button_size_middle:focus
{
    padding: 8px 16px;
    font-size: 23px;
    margin: 4px 2px;		
}
.jry_wb_button_size_middle:hover
{

}
.jry_wb_button_size_small,.jry_wb_button_size_small:focus
{
    padding: 2px 5px;
    font-size: 20px;
    margin: 4px 2px;		
}
.jry_wb_button_size_small:hover
{
	
}
h55 {font-size:30px;color:white;}
.h55 {font-size:30px;color:white;}
h56 {font-size:30px;color:#33F;}
.h56 {font-size:30px;color:#33F;}

.jry_wb_font_buttom{color:#ffffff;margin: 0px 0px 0px 5px;}
.jry_wb_font_big_size{font-size:50px}
.jry_wb_font_normal_size{font-size:30px}
.jry_wb_font_small_size{font-size:20px}textarea{-moz-appearance: none;-webkit-appearance:none;}
input,textarea{margin:3px 3px;}
input:focus,textarea:focus{outline: none;margin:0px 0px;border: 5px solid #118ed7;}
input[type="radio"],input[type="checkbox"]{-moz-appearance: none;-webkit-appearance:none;width:30px;height:30px;border-radius:4px;background-color:#FFF;margin:3px 3px;border: 0px solid #118ed7;}
input[type="radio"]:checked,input[type="checkbox"]:checked{background-color:#4CAF50;margin:3px 3px;border: 0px solid #118ed7;}
input[type=""],input[type="submit"],input[type="reset"]{-moz-appearance: none;-webkit-appearance:none;}
.code
{
	background-color:#000000;
	color:#ffffff;
	font-size:20px;
	overflow:scroll;
	margin:10px 0px;
	white-space:nowrap;
	max-height:300px;
	min-height:40px;
}
.md_normal {color:white;word-break:break-all;}
.md_normal strong{color:white;word-break:break-all;}
.md_normal em{color:white;}
.md_normal .line_m{text-decoration:line-through}
.md_cite{font-size:20px;color:white;}
.md_link{font-size:20px;}
.md_link:link{}
.md_link:visited{}
.md_link:hover{}
.md_link:active{}
.md_normal .md_finish{color:#23dd07;}
.md_normal .md_unfinish{color:#ddcc00;}
.md_hr{background-color:blue;height:2px;border:none;}
.md_toc_ul{-webkit-padding-start:0px;}
.md_toc_li{-webkit-padding-start:40px;}
.code .important{color:#ff0000;}
.code .fuhao{color:#8ebc22;}
.code .number{color:#ffff00;}
.md_a{font-size:30px;}
.md_media_font{font-size:20px;color:red;}
.md_title{font-size:42px;color:red;}
.md_normal{font-size:20px;color:white;}
.md_time_and_user{font-size:30px;color:white;}
.md_h_1{font-size:40px;color:red;}
.md_h_2{font-size:37px;color:red;}
.md_h_3{font-size:35px;color:red;}
.md_h_4{font-size:32px;color:red;}
.md_h_5{font-size:28px;color:red;}
.md_h_6{font-size:24px;color:red;}
.md_h_7{font-size:20px;color:red;}
.md_img:hover{width:90%;}
.md_img
{
	width:50%;
	transition:width 2s, height 2s;
	-moz-transition:width 2s, height 2s, -moz-transform 2s; /* Firefox 4 */
	-webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari and Chrome */
	-o-transition:width 2s, height 2s, -o-transform 2s; /* Opera */
}.jry_wb_show_user
{
	border-radius: 10px; 
	padding: 5px; 
	min-width: 200px; 
	margin-top: 5px; 
	color:#33F;
	font-size:30px;
}
.jry_wb_show_user_inline
{
	border-radius: 5px; 
	padding:0px 5px 0px 5px;
	min-width: 200px;
	margin-top: 5px; 
	color:#33F;
	font-size:30px;
}
.jry_wb_show_user_intext
{
	color:#33F;
}
.jry_wb_show_user img,.jry_wb_show_user_inline img
{
	width:22px;height:22px;
}
.jry_wb_top_toolbar
{
  overflow: hidden;
  background-color: #333;
}
.jry_wb_top_toolbar a
{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 25px;
}
.jry_wb_top_toolbar .jry_wb_top_toolbar_right
{
	right:9px;
	float: right;
	padding: 14px 50px;
	text-align:right;
	display: block;
	text-decoration: none;
	background-color:#0066FF;
}
.jry_wb_top_toolbar a:hover {
	background-color: #ddd;
	color: black;
}

.jry_wb_top_toolbar a.active {
	background-color: #4CAF50;
	color: white;
}
.jry_wb_top_toolbar div
{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 0px 0px;
	text-decoration: none;
	font-size: 25px;
	background-color: #0066FF;
}
.jry_wb_top_toolbar div h55
{
  	text-decoration: none;
	font-size: 25px;
	color:white;
	float:left;
	display: block;
}
