.user
{
	border-radius: 10px; 
	padding: 5px; 
	min-width: 250px; 
	margin-top: 5px; 
	color:#33F;
	font-size:50px;
}
.user_inline
{
	border-radius: 5px; 
	padding:0px 5px 0px 5px;
	min-width: 250px;
	margin-top: 5px; 
	color:#33F;
	font-size:50px;
}
.user_inline img,.user img
{
	width:40px;height:40px;
} 