.blog_draft_all_body{margin: 5px 0px 30px; background-color: rgb(204, 204, 204); overflow: hidden;}
.blog_draft_all_body_show{margin: 5px 0px 30px; background-color: rgb(110, 197, 72); overflow: hidden;}
.blog_draft_all_id{min-width:200px;}
.blog_draft_all_time{padding: 5px; min-width: 300px;}
.blog_draft_all_title{}